
<div class="splash">
	<div class="pure-g-r">
		<div class="pure-u-1-5">
			<!--<div class="pure-g-r">-->
				<!--<div class="pure-u-1-5">-->
					<!--<div class="player-box">-->

						<!--<i class="fa fa-gavel fa-5x"></i>-->
					<!--</div>-->
				<!--</div>-->
				<!--<div class="pure-u-4-5">-->
					<!--<div class="player-box">-->
						<!--<i class="fa fa-th fa-5x"></i>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->

			<!--<div class="pure-g-r">-->
				<!--<div class="pure-u-1-4">-->
					<!--<div class="player-box">-->
						<!--<i class="fa fa-user fa-5x"></i>-->
					<!--</div>-->
				<!--</div>-->
				<!--<div class="pure-u-1-4">-->
					<!--<div class="player-box">-->
						<!--<i class="fa fa-user fa-5x"></i>-->
					<!--</div>-->
				<!--</div>-->
				<!--<div class="pure-u-1-4">-->
					<!--<div class="player-box">-->
						<!--<i class="fa fa-user fa-5x"></i>-->
					<!--</div>-->
				<!--</div>-->
				<!--<div class="pure-u-1-4">-->
					<!--<div class="player-box">-->
						<!--<i class="fa fa-user fa-5x"></i>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
		</div>

		<div class="pure-u-4-5">
			<div class="l-box splash-text">
				<h1 class="splash-head">
					Create a game
				</h1>
				<form class="pure-form">

					<datalist id="cat-list">
						<option value="Star wars">
						<option value="AtTask Tech">
						<option value="Laffy Taffy">
						<option value="Front End Development">
						<option value="Fishing">
					</datalist>

					<fieldset class="pure-group">
						<input type="text" name="game_name" id="game-name" placeholder="Game Name" class="pure-input-1-2" />
						<input type="text" name="cat" id="cat" list="cat-list" placeholder="Category" class="pure-input-1-2" />
					</fieldset>

					<button type="submit" class="pure-button pure-button-primary">Create Game</button>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="content">

	<div class="pure-g-r content-ribbon">
		<div class="pure-u-1-5">
			<div class="l-box">
				<img src="http://placehold.it/400x250"
					 alt="Placeholder image for example.">
			</div>
		</div>

		<div class="pure-u-4-5">
			<div class="l-box">
				<h4 class="content-subhead">Game of awesome</h4>
				<h3>AtTask Tech</h3>
				<p>
					Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum. Morbi fermentum dui sit amet libero tincidunt rutrum. Nam sodales consequat metus sed accumsan.

					<a href="#" class="pure-button primary-button pull-right">Join Game</a>
				</p>
			</div>
		</div>
	</div>

	<div class="pure-g-r content-ribbon">
		<div class="pure-u-1-5">
			<div class="l-box">
				<img src="http://placehold.it/400x250"
					 alt="Placeholder image for example.">
			</div>
		</div>

		<div class="pure-u-4-5">
			<div class="l-box">
				<h4 class="content-subhead">Test Game</h4>
				<h3>Laffy Taffy</h3>
				<p>
					Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum. Morbi fermentum dui sit amet libero tincidunt rutrum. Nam sodales consequat metus sed accumsan.

					<a href="#" class="pure-button primary-button pull-right">Join Game</a>
				</p>
			</div>
		</div>
	</div>

</div>
